<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <title>New contact request</title>
        <style>
            @import
            url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
            body { font-family: 'Raleway', sans-serif; overflow-x: hidden; }
            .parent-container{ background-color: #9fc2f8; padding: 1rem 1.5rem;
            height: 100%; } .main-container{ background-color: white;
            border-radius: 1rem; } .title-container{ color: #e64c1b;
            font-weight: bold; font-size: 3rem; padding: 2rem 3rem;
            border-bottom: 1px solid #dbdbdb; } .child-container{ padding: 2rem;
            } .footer-container{ background-color: #002d72; color: white;
            font-weight: bold; padding: 2rem 3rem; border-top: 1px solid
            #dbdbdb; border-radius: 0 0 1rem 1rem; } .footer-container a {
            color: white; } .flex-column{ width: 100%; } .border-bottom{
            border-bottom: 1px solid #dbdbdb; } .section-head{ font-weight:
            bold; font-size: 1.5rem; } .style-data{ font-size: 1rem; }
        </style>
    </head>
    <body>
        <div class="parent-container">
            <div class="main-container">
                <div class="title-container">
                    We-DD
                </div>
                <div class="child-container">
                    <h3>This is a confirmation email that we have received your query. One of our team member will reach out to you at the earliest.</h3>
                </div>
                <div class="footer-container">
                    At We-DD, we are passionate about revolutionizing
                    transportation and providing our clients with the best
                    designated driver and taxi services. We believe that a safe
                    and enjoyable journey is not just a necessity but a right
                    for everyone. With this vision in mind, we have crafted a
                    private, customer-centric shuttle service that caters to a
                    variety of needs, ensuring you reach your destination with
                    comfort and convenience.<br />
                    <a href="www.we-dd.ca" target="_blank">Visit our website.</a>
                </div>
            </div>
        </div>
    </body>
</html>